.content * {
    margin: 10px 0px 10px 0px;
    max-width: 100%;
}

input,
select {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 1.3em;
    font-weight: bold;
}

button {
    font-size: 1em;
    width: 100%;
    height: 5vh;
    border: none;
    outline: none;
}

.view {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.view .mediaset {
    display: inline;
    width: 100%;
}

.view textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.view .col {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px;
}

.view img,
.view textarea,
.view video {
    object-fit: contain;
    width: 80%;
    align-self: center;
}

.view pre {
    width: 80%;
    align-self: center;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #fff;
    white-space: pre-wrap;
}

#selectedfile {
    display: block;
    max-width: 100%;
    border: 2px dashed #fff;
}

#selectedfile[src=""] {
    display: none;
}

#filedrag {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    border: 2px dashed #fff;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
#filedrag.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

#file {
    display: none;
}

#htmlforfile {
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    border: 2px dashed #fff;
    border-radius: 10px;
}

#context,
#textfield {
    width: 100%;
    height: 20vh;
    resize: none;
}

#submit {
    border-radius: 10px;
    cursor: pointer;
}

#loader {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    align-self: center;
    margin: 0 auto;
}

#ispublic {
    width: auto;
    margin: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


@media only screen and (max-width: 768px) {

}