html {
  zoom: 0%;
}

.App {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 85vh;
}

.content {
  flex: 1;
  background-color: #006989;
  padding: 15px;
  font-size: 2em;
}

.nav {
  order: -1;
  flex: 0 0 14vw;
  background-color: #0c293e;
  font-size: 2.5em;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li button {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1em;
}

.nav li button:hover {
  background-color: #555;
}

.nav .langselector {
  background-color: #ffd600;
}

.header {
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #36557f;
  height: 10vh;
}

.title {
  font-size: 5em;
  padding: 16px 20px;
}

.footer {
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vh;
  font-size: 2em;
  background-color: #333;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li a {
  display: block;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.footer li a:hover {
  background: #555;
}

@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
}